.pet-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.Adminpet-list-page button {
  margin-top: 7px;
  margin-bottom: 10px;
  width: 70px;
  margin-left: 52px;
}

.add-pet-form {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 180px;
  margin-left: 52px;
}

.add-pet-form button {
  margin-left: 52px;
}
